.logo {
    width: auto;
    height: 200px;
    display: flex;
    margin: 10px;
    overflow: hidden;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
} 
