.button {
  border: none;
  background: none;
}

.button:hover {
  background: transparent;
}

.scan-button {
  width: auto;
  height: 400px;
  display: flex;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
